del2/labb-2/assignment.md
del2/labb-2/style.css
del2/labb-2/style.css.map
del2/labb-2/keys.json
del2/labb-2/mindmap.pdf
del2/labb-2/nutrient-label.png
del2/labb-2/debug.js
del2/labb-2/batch.js
del2/labb-2/dishes.css.map
del2/labb-2/dishes.css
