$bg-success: #d0edda;
$success: #045b21;

$bg-info: #cdecf0;
$info: #00565f;

$bg-warning: #fff2cf;
$warning: #866310;

$bg-danger: #fbd5d9;
$danger: #760b18;

$bg-primary: #c9e4fd;
$primary: #004280;

$bg-secondary: #e1e2e4;
$secondary: #343f43;

$bg-light: #fefefe;
$light: #808081;

$bg-dark: #d5d7d8;
$dark: #0e1114;

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: $bg-light;
  display: flex;
  justify-content: center;
}

#page {
  display: flex;
  justify-content: center;
  margin: 2em;
  width: 95vw;
}

main {
  #ingredient {
    width: min(60%, 20em);
  }
  #weight {
    width: max(18%, 5em);
  }
}

#ingredient-list {
  ul {
    padding: 0;
  }

  li {
    margin: 0;
    list-style-type: none;
  }

  .ingredient {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0 0.5em 0.2em;
    border-bottom: solid 0.1em rgb(0, 0, 0, 0.2);
    align-items: end;
    p {
      margin: 0;
      margin-right: 0.5em;
    }
  }
}

#nutrition-facts {
  width: 100%;
  height: auto;
  border: solid;
  ul {
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      // margin: 0.1em 0;
      p {
        padding: 0;
        margin: 0.5em 0 0.1em 0;
      }
    }
  }
}

.remove {
  background-image: url(icons/x.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  transform: scale(1.2);
}

.grow {
  flex-grow: 1;
}

.warning {
  border: solid;
  background-color: $bg-warning;
  color: $warning;
}

.hidden {
  display: none;
}
