* {
  font-family: Arial, Helvetica, sans-serif;
  color: #0e1114;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  height: 5em;
  background-color: #8bbb9c;
}
nav #logo {
  font-family: "varela round", arial;
  color: #fefefe;
  background-color: #5c886c;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: 1000;
  padding: 0 1em;
}
nav ul {
  display: flex;
  padding: 0;
  margin-right: 1em;
  width: 15.5em;
  justify-content: space-between;
}
nav ul .current-page:hover {
  background-color: #597c65;
  border-color: #597c65;
}
nav ul .current-page {
  background-color: #5c886c;
}
nav ul .current-page li {
  color: #fefefe;
}
nav ul a:hover {
  background-color: #9ed4b1;
}
nav ul a {
  text-decoration: none;
  font-weight: 600;
  border: #5c886c solid 0.15em;
  border-radius: 10em;
}
nav ul li {
  margin: 0.5em 1em;
  list-style-type: none;
}

main #main-container {
  display: flex;
  flex-direction: column;
}
main #saved-recipes #saved-recipes-header-container {
  display: flex;
  align-items: center;
}
main #saved-recipes #edit {
  font-size: small;
  background-color: #d5d7d8;
  padding: 0.5em;
  border-radius: 1000px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
main #saved-recipes .remove-dish {
  margin-left: 0.5em;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(icons/x-circle.svg);
  background-size: contain;
  color: red;
  width: 1em;
  height: 1em;
}
main #saved-recipes h1 {
  font-size: xx-large;
  margin-right: 1em;
}
main #saved-recipes ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 1em;
  display: flex;
  align-items: start;
  width: 100%;
  border-bottom: dashed #d5d7d8;
  flex-wrap: wrap;
}
main #saved-recipes ul li:hover {
  cursor: pointer;
}
main #saved-recipes ul li:hover :last-child {
  display: block;
}
main #saved-recipes ul li {
  display: flex;
  align-items: center;
  margin: 0.2em 0.1em;
  border: rgba(0, 0, 0, 0) 1px solid;
  background-color: #c9e4fd;
  color: #004280;
  padding: 0.7em;
  font-size: 1em;
  border-radius: 0.5em;
  font-weight: 600;
}
main #ingredient-list {
  background-color: #fff2cf;
  padding: 0.1em 1em;
  margin: 2em 0;
  margin-bottom: 0;
  box-shadow: 0 2px 2px 2px rgba(213, 215, 216, 0.6);
  border-radius: 1em;
  min-height: 7em;
}
main #ingredient-list h2 {
  color: #0e1114;
  color: #866310;
  font-size: x-large;
}
main #ingredient-list ul {
  padding: 0;
}
main #ingredient-list li {
  margin: 0;
  list-style-type: none;
}
main #ingredient-list .ingredient:hover .remove {
  display: block;
}
main #ingredient-list .ingredient {
  color: #0e1114;
  display: flex;
  flex-direction: row;
  padding: 0.5em 0 0.5em 0.2em;
  border-bottom: dashed 1.9px #808081;
  align-items: end;
}
main #ingredient-list .ingredient p {
  margin: 0;
  margin-right: 0.5em;
}
main #ingredient-input #dish-name:focus {
  outline: none;
}
main #ingredient-input #dish-name {
  padding-left: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  height: 3em;
  width: auto;
  border-radius: 10px 10px 0 0;
  font-size: 1em;
}
main #ingredient-input #user-input-field {
  display: flex;
  justify-content: space-between;
}
main #ingredient-input #user-input-field #ingredient:focus {
  outline: none;
}
main #ingredient-input #user-input-field #ingredient {
  font-size: 1em;
  width: min(60%, 20em);
  border-radius: 0 0 0 10px;
  height: 3em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: none;
  padding-left: 0.5em;
}
main #ingredient-input #user-input-field #weight:focus {
  outline: none;
}
main #ingredient-input #user-input-field #weight {
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 0.5em;
  width: max(18%, 5em);
  border-left: dashed rgba(0, 0, 0, 0.2) 0.5px;
  border-radius: 0 10px 10px 0;
}
main #ingredient-input #user-input-field button:hover {
  background-color: #e1e2e4;
  color: #808081;
}
main #ingredient-input #user-input-field button {
  padding: 0 1em;
  background-color: #fefefe;
  color: #808081;
  font-weight: 900;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 0.5em;
  font-size: 1em;
}
main #recipe-action {
  display: flex;
  justify-content: end;
  width: 100;
  margin: 1em 0;
}
main #recipe-action button {
  padding: 0 1em;
  background-color: #fefefe;
  color: #808081;
  font-weight: 900;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 0.5em;
  font-size: 1em;
  height: 3em;
  font-weight: 100;
}
main #recipe-action #save-recipe:hover {
  outline: #045b21 0.1em solid;
}
main #recipe-action #save-recipe:disabled {
  opacity: 0.5;
  outline: none;
}
main #recipe-action #save-recipe {
  color: #045b21;
  background: #d0edda;
}
main #recipe-action #clear-recipe:hover {
  outline: #760b18 0.1em solid;
}
main #recipe-action #clear-recipe {
  color: #760b18;
  background: #fbd5d9;
}

table {
  width: 100%;
  border: solid 0.3em #d5d7d8;
  border-collapse: collapse;
  font-size: 0.9em;
}
table thead th {
  padding: 0.5em 0.1em;
  color: #0e1114;
  background-color: #d5d7d8;
  text-align: start;
}
table tbody td:first-child {
  font-weight: bold;
}
table tbody tr {
  border-bottom: dashed 0.2em #d5d7d8;
}
table tbody tr td {
  padding: 0 0.5em;
  padding-top: 0.8em;
  padding-bottom: 0.5em;
}

#nutrient-facts h2 {
  background-color: #d5d7d8;
  margin: 0;
  padding: 0.5em 0.3em;
  padding-bottom: 0;
  border-radius: 0.5em 0.5em 0 0;
}

.remove {
  background-color: #fbd5d9;
  cursor: pointer;
  margin-right: 0.4em;
  border-radius: 100px;
  display: none;
  background-image: url(icons/x.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  transform: scale(1.15);
}

.grow {
  flex-grow: 1;
  width: none;
}

.warning {
  margin: 1em 0;
  border: solid;
  background-color: #fbd5d9;
  color: #760b18;
  width: 100%;
  text-align: center;
}
.warning p {
  padding: 0 0.5em;
}

.hidden {
  display: none;
}

.no-decoration {
  text-decoration: none;
}

footer {
  display: flex;
  padding: 1em;
  color: #fefefe;
  width: 100%;
}
footer #edamam-badge {
  padding: 1em;
  background-color: #d5d7d8;
}

@media only screen and (max-width: 600px) {
  .remove {
    display: block;
    cursor: pointer;
    background-color: #fbd5d9;
    border-radius: 100px;
  }
  .remove-dish {
    display: block;
  }
}
@media (min-width: 1024px) {
  .remove-dish {
    display: none;
  }
  nav {
    width: min(85vw, 60em);
    background-color: #fefefe;
    border-bottom: solid #69a07c;
    padding-bottom: 0.5em;
  }
  nav ul a:hover {
    background-color: #f7f7f7;
  }
  nav #logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #69a07c;
    font-weight: 1000;
    border-top: solid #8bbb9c 0.5em;
    background-color: #d0edda;
    height: auto;
    padding: 0.2em 1.2em;
    margin: 0;
    border-radius: 0 0 1em 1em;
    font-family: "varela round", arial;
  }
  #page {
    width: min(85vw, 60em);
  }
  #nutrient-facts #nutrient-table {
    width: 32em;
  }
  main #main-container {
    flex-direction: row;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */