$bg-success: #d0edda;
$success: #045b21;

$bg-info: #cdecf0;
$info: #00565f;

$bg-warning: #fff2cf;
$warning: #866310;

$bg-danger: #fbd5d9;
$danger: #760b18;

$bg-primary: #c9e4fd;
$primary: #004280;

$bg-secondary: #e1e2e4;
$secondary: #343f43;

$bg-light: #fefefe;
$light: #808081;

$bg-dark: #d5d7d8;
$dark: #0e1114;

* {
  font-family: Arial, Helvetica, sans-serif;
  color: $dark;
  // border: solid;
}

@mixin button-settings-hover {
  background-color: $bg-secondary;
  color: $light;
}
@mixin button-settings {
  padding: 0 1em;
  background-color: $bg-light;
  color: $light;
  font-weight: 900;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 0.5em;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  background-color: $bg-light;
  display: flex;
  justify-content: center;
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
  width: 60em;
}

nav {
  ul {
    display: flex;
    padding: 0;
    li {
      list-style-type: none;
      margin-right: 1em;
    }
  }
}

main {
  #saved-recipes {
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      align-items: start;
      width: 100%;
      // margin: 1em;
      flex-wrap: wrap;
      li:hover {
        cursor: pointer;
        // background-color: rgb(201, 228, 253, 0.5);
        // border: $primary 1px solid;
        background-color: $primary;
        color: $bg-primary;
      }
      li {
        margin: 0.2em 0.1em;
        border: rgba(0, 0, 0, 0) 1px solid;
        background-color: $bg-primary;
        color: $primary;
        padding: 0.5em;
        font-size: 0.8em;
        border-radius: 0.5em;
        font-weight: 600;
      }
    }
  }

  #ingredient-list {
    background-color: $bg-warning;
    padding: 0.1em 1em;
    margin: 2em 0;
    margin-bottom: 0;
    box-shadow: 0 2px 2px 2px rgba(213, 215, 216, 0.6);
    border-radius: 1em;
    min-height: 7em;

    h2 {
      color: $dark;
    }

    ul {
      padding: 0;
    }

    li {
      margin: 0;
      list-style-type: none;
    }

    .ingredient:hover {
      .remove {
        display: block;
      }
    }
    .ingredient {
      color: $dark;
      display: flex;
      flex-direction: row;
      padding: 0.5em 0 0.5em 0.2em;
      border-bottom: dashed 1.9px $light;
      align-items: end;
      p {
        margin: 0;
        margin-right: 0.5em;
      }
    }
  }

  #ingredient-input {
    #dish-name:focus {
      outline: none;
    }
    #dish-name {
      padding-left: 0.5em;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: none;
      height: 3em;
      width: auto;
      border-radius: 10px 10px 0 0;
    }
    #user-input-field {
      display: flex;
      justify-content: space-between;
      #ingredient:focus {
        outline: none;
      }
      #ingredient {
        width: min(60%, 20em);
        border-radius: 0 0 0 10px;
        height: 3em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-right: none;
        padding-left: 0.5em;
      }
      #weight:focus {
        outline: none;
      }
      #weight {
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding-left: 0.5em;
        width: max(18%, 5em);
        border-left: dashed rgba(0, 0, 0, 0.2) 0.5px;
        border-radius: 0 10px 10px 0;
      }
      button:hover {
        @include button-settings-hover();
      }
      button {
        @include button-settings();
      }
    }
  }

  #recipe-action {
    display: flex;
    justify-content: end;
    width: 100;
    margin: 1em 0;

    button {
      @include button-settings();
      height: 3em;
      font-weight: 100;
    }

    #save-recipe:hover {
      outline: $success 0.1em solid;
    }
    #save-recipe:disabled {
      opacity: 0.5;
      outline: none;
    }
    #save-recipe {
      color: $success;
      background: $bg-success;
    }

    #clear-recipe:hover {
      outline: $danger 0.1em solid;
    }
    #clear-recipe {
      color: $danger;
      background: $bg-danger;
    }
  }
}

table {
  width: 100%;
  border: solid 0.3em $bg-dark;
  border-collapse: collapse;
  font-size: 0.9em;

  thead {
    th {
      padding: 0.5em 0.1em;
      color: $dark;
      background-color: $bg-dark;
      text-align: start;
    }
  }
  tbody {
    tr {
      td {
        padding: 0 0.5em;
        padding-top: 0.8em;
        padding-bottom: 0.5em;
      }
      border-bottom: dashed 0.2em $bg-dark;
    }
  }
}

#nutrition-facts {
  width: 100%;
  height: auto;
  border: solid;
}

.remove {
  background-color: $bg-danger;
  cursor: pointer;
  margin-right: 0.4em;
  border-radius: 100px;
  display: none;
  background-image: url(icons/x.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  width: 1em;
  transform: scale(1.15);
}

.grow {
  flex-grow: 1;
  width: none;
}

.warning {
  margin: 1em 0;
  border: solid;
  background-color: $bg-danger;
  color: $danger;
  width: 100%;
  text-align: center;
  p {
    padding: 0 0.5em;
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .remove {
    display: block;
    cursor: pointer;
    background-color: $bg-danger;
    border-radius: 100px;
  }
}
